#### Pandas
* 구조화된 데이터의 처리를 지원하는 Python 라이브러리
* Python계의 엑셀! 이라고 생각
* 고성능 Array계산 라이브러리인 Numpy와 통합하여 강력한 "스프레드시트"처리 기능을 제공
* 인덱싱, 연산용 함수, 전처리 함수 등을 제공

* `csv`
* `read_csv`: csv 타입의 데이터를 읽어온다
* `sep`
* `header`

In [1]:
# 라이브러리 호출
import pandas as pd

In [5]:
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'

# csv타입 데이터 로드
df_data = pd.read_csv(data_url, sep = '\s+', header = None)

In [6]:
# 처음 다섯줄 출력
df_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [7]:
df_data.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOS', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

# Column Header 이름 지정
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOS,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [9]:
df_data.values

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 3.9690e+02, 4.9800e+00,
        2.4000e+01],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 3.9690e+02, 9.1400e+00,
        2.1600e+01],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 3.9283e+02, 4.0300e+00,
        3.4700e+01],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 5.6400e+00,
        2.3900e+01],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 3.9345e+02, 6.4800e+00,
        2.2000e+01],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 7.8800e+00,
        1.1900e+01]])

In [10]:
df_data.values

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 3.9690e+02, 4.9800e+00,
        2.4000e+01],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 3.9690e+02, 9.1400e+00,
        2.1600e+01],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 3.9283e+02, 4.0300e+00,
        3.4700e+01],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 5.6400e+00,
        2.3900e+01],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 3.9345e+02, 6.4800e+00,
        2.2000e+01],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 7.8800e+00,
        1.1900e+01]])

In [11]:
type(df_data.values)

numpy.ndarray

#### Pandas의 구성
* Series
    * DataFrame 중 하나의 Column에 해당하는 데이터의 모음 Object
* DataFrame
    * Data Table 전체를 포함하는 Object

#### 일반적인 pandas의 활용
* 기존 데이터를 불러와서 DataFrame 생성

#### Series
* Column Vector를 표현하는 object
* list, dict타입을 Series로 사용할 수 있음

In [12]:
from pandas import Series, DataFrame
import pandas as pd

* `Shift + TAB`을 하면 여러가지 Argument를 볼 수 있음

In [13]:
example_obj = Series

In [15]:
list_data = [1, 2, 3, 4, 5]
example_obj = Series(data = list_data)
example_obj

# 출력에서 왼쪽은 index값, 오른쪽은 data값

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [16]:
# index이름을 지정할 수도 있음
list_data = [1, 2, 3, 4, 5]
list_name = ['a', 'b', 'c', 'd', 'e']
example_obj = Series(data = list_data, index = list_name)
example_obj

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [17]:
# data index에 접근하기
example_obj['a']

# data index에 값 할당하기
example_obj['a'] = 3.2

example_obj

a    3
b    2
c    3
d    4
e    5
dtype: int64